body {
    background: #d9e0e7
}
.ui {
    border-radius: 0px !important;
}
.indicating .teal {
    border-radius: 0px !important;
}

#progress {
    border-radius: 0px !important;
}

input {
    border-radius: 0px !important; 
}