<div class="ui centered grid">
  <div class="sixteen wide column">
    <div class="ui raised center aligned  teal segment">
      {{!-- PROGRESS BAR --}}
      <div class="ui big form">
        <div class="three fields">
          <div class="field">
            <label for="">Total</label>
          </div>
          <div class="field">
            <label for="">Finished</label>
          </div>
          <div class="field">
            <label for="">Next Payment</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>